.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.table thead tr {
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
}

.table th,
.table td {
  padding: 1rem;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}

.table input {
  background: transparent;
  border-bottom: 1px solid lightgreen;
}

.header {
  display: flex;
  justify-content: space-between;
}
